<div>
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Name That Capital!</h1>
        <p class="lead">Enter a country's name or code to see it's capital!</p>
      </div>
    </div>
      <div class="form-group">
          <label for="countryEntry">Country:</label>
          <input type="text" [(ngModel)]="name" class="form-control" id="country"  placeholder="Enter the country or country code">
          <button type="button" (click)="search()" class="btn btn-success">Search</button>
        </div>
      <div class="card" *ngFor = "let response of response">
      
          <div class="card-body"  id="capital">
  
          <h6>{{response?.name}}</h6> Capital: {{response?.capital}}
          </div>
      </div>
</div>
